<div class="login-signUp">

    <form class="forms" action="/users/reset/password" method="POST">
        <span class='formsHeader'>Reset Password</span>

        <div class="field">
            <input type="password" name="newPassword" placeholder="Enter New Password" required>
        </div>

        <div class="field">
            <input type="password" name="confirmNewPassword" placeholder="Enter Confirm Password" required>
        </div>

        <input id="OTPid" name="token" type="hidden" value="<%=locals.token%>" />

        <div class="field">
            <button type="submit" value="Reset">Reset Password</button>
        </div>

    </form>

    <!-- <span class="formsHeader">OR</span>

    <a href="/users/auth/google" id="google-login-btn">
        <img src="/image/google-signIn.png" />
    </a>-->



</div>