#otp-container {
    margin-top: 8px;
    /* margin-top: 10px; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

#otp-container .field {
    /* background-color: rgb(215, 240, 177); */
    width: 48%;
    margin: 0;
    border-radius: 5px;
}

#otp-container input {
    border: 2px solid rgba(0, 0, 0, 0.12);
    border-radius: 5px;
}

#otp-container button {
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.12);
    height: 40px;
    background-color: rgb(215, 240, 177);
}